@charset "utf-8";

/*header头部*/

html {
  filter: grayscale(100%);
}

#header {
  width: 100%;
  height: 32px;
  background: #f2f2f2;
  font-size: 12px;
  line-height: 32px;
  a {
    color: #999;
  }
  .head_left {
    position: relative;
    height: 32px;
    span {
      margin-right: 21px;
      color: #999999;
    }
    a {
      margin-right: 21px;
      &:hover {
        color: #FF0036;
      }
    }
    .personal {
      height: 32px;
      line-height: 32px;
      position: relative;
      ul {
        width: 100%;
        color: #999;
        background: #f2f2f2;
        z-index: 100;
        line-height: 24px;
        position: absolute;
        left: 0;
        top: 32px;
      }
    }
  }
  // 头部左边部分
  .header_right_nav>li {
    position: relative;
    float: left;
    &:hover {
      background: #fff;
      >a {
        color: #FF0036;
        span {
          transform: rotate(180deg);
        }
      }
      .buy {
        display: block;
      }
    }
    >a {
      padding: 0 12px;
      position: relative;
      span {
        border-width: 3px;
        border-style: solid;
        border-color: #bbbbbb transparent transparent;
        transform-origin: 50% 25%;
        transition: 0.3s;
        position: absolute;
        top: 7px;
        right: 5px;
      }
    }
    .buy {
      background: #fff;
      display: none;
      padding-top: 5px;
      position: absolute;
      z-index: 10;
      left: 0;
      padding-left: 10px;
      width: 96px;
      height: 57px;
      line-height: 20px;
      border: 1px solid #eee;
      border-top: none;
      a:hover {
        color: #FF0036;
        text-decoration: underline;
      }
    }
  }
}