@charset 'utf8';
@mixin boxsize($width, $height) {
  width: $width;
  height: $height;
}

%arrow {
  width: 28px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

%paddingL {
  padding-left: 10px;
}

.detail {
  height: 678px;
  margin-top: 20px;
  padding: 20px;
  // 放大展示
  .preview {
    width: 420px;
    position: relative;
    .small {
      position: relative;
      width: 420px;
      height: 420px;
      border: 1px solid rgba(0, 0, 0, .5);
      img {
        @include boxsize(418px, 418px);
      }
      .mark {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        cursor: move;
        background: rgba(255, 255, 0, .5);
      }
    }
    // 大图盒子
    .big {
      @include boxsize(420px, 420px);
      border: 1px solid rgba(0, 0, 0, .5);
      position: absolute;
      background: #fff;
      z-index: 100;
      display: none;
      overflow: hidden;
      top: 0;
      left: 440px;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    // 样式展示
    .spec {
      height: 60px;
      margin-top: 22px;
      .arrow-l {
        @extend %arrow;
        color: #f5f5f5;
      }
      .arrow-r {
        @extend %arrow;
        color: #ccc;
      }
      .spec-box {
        width: 362px;
        overflow: hidden;
        height: 60px;
        position: relative;
        .spec-list {
          width: 300%;
          position: absolute;
        }
        li {
          @include boxsize(60px, 60px);
          float: left;
          margin-right: 16px;
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
  .detail-info {
    @include boxsize(530px, 638px);
    // background: sandybrown;
    border-right: 1px solid #ccc;
    margin-left: 20px;
    color: #090909;
    font-size: 12px;
    .detail-info-title {
      font-weight: 900;
      font-size: 16px;
      height: 20px;
      line-height: 15px;
    }
    .detail-price {
      @include boxsize(518px, 118px);
      background: #f0efef;
      margin-top: 14px;
      line-height: 118px;
      @extend %paddingL;
      .detail-pri {
        line-height: 118px;
        color: #ff0036;
        font-size: 22px;
        vertical-align: bottom;
      }
    }
    .detail-num {
      margin-top: 100px;
      height: 32px;
      line-height: 32px;
      position: relative;
      @extend %paddingL;
      input {
        width: 43px;
        height: 40px;
        background: #f5f5f5;
        border: 1px solid #b8b7bd;
        text-align: center;
      }
      .car-Into {
        width: 180px;
        height: 40px;
        text-align: center;
        background: #ff0036;
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
      }
      .message {
        width: 100px;
        height: 30px;
        background: #ccc;
        position: absolute;
        text-align: center;
        left: 10px;
        top: 40px;
        display: none;
        color: rgb(10, 126, 35);
      }
    }
  }
}